[submodule "Vendor/SwiftState"]
	path = Vendor/SwiftState
	url = https://github.com/ReactKit/SwiftState.git
	ignore = dirty
[submodule "Vendor/SwiftTask"]
	path = Vendor/SwiftTask
	url = https://github.com/ReactKit/SwiftTask.git
	ignore = dirty

